/* Slider Styles */

.slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 1;
  user-select: none;
}

.sliderIcon {
  font-size: 1.8em;
  margin: 5px;
  padding: 10px;
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.slideImage {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.slideAnimation {
  animation-name: fadeIn;
  animation-duration: 5s;
  animation-iteration-count:infinite;
}

.stopAutoslide {
animation: none;
}

@keyframes fadeIn {
  from{
    opacity: 0
  }
  to{
    opacity: 1
  }
}
